<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ASP Bank", "AllAccounts", "Accounts", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> @Html.ActionLink("All Accounts", "AllAccounts", "Accounts")</li>
                    <li> @Html.ActionLink("Search by Number", "AccountByNo", "Accounts")</li>
                    <li> @Html.ActionLink("Search by Type", "AccountByType", "Accounts")</li>
                    <li> @Html.ActionLink("Add Account", "AddAccount", "Accounts")</li>
                    <li> @Html.ActionLink("Delete Account", "DeleteAccount", "Accounts")</li>
                    <li> @Html.ActionLink("Update Account", "UpdateAccount", "Accounts")</li>

                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    
    <h1 style="text-align:center"><b>ASP BANK</b></h1> 
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP Bank</p>
        </footer>
    </div>
</body>
</html>
