
@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmployeeList</h2>

<table class="table">
    <tr>
    <th>Employee No.</th>
    <th>Name</th>
    <th>Designation</th>
    <th>Salary</th>
    <th>Is permanent</th>
    <th colspan="3">Action</th>
    </tr>
    @foreach (var emp in ViewBag.empList)
    {

    <tr>
    <td> @emp.EmpNo</td>
    <td> @emp.EmpName</td>
    <td> @emp.EmpDesignation</td>
    <td> @emp.EmpSalary</td>
    <td> @emp.EmpisPermanent</td>
    <td><button class="btn-primary">Add</button></td>
    <td><button class="btn-danger">Delete</button></td>
    <td><button class="btn-warning">Edit</button></td>
    </tr>
    }
</table>
    
