
@{
    ViewBag.Title = "EmployeeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee Details</h2>
<p><b>Employee No. </b>: @ViewBag.empObj.EmpNo</p>
<p><b>Employee Name </b>: @ViewBag.empObj.EmpName</p>
<p><b>Employee Designation</b> : @ViewBag.empObj.EmpDesignation</p>
<p><b>Employee Salary </b>: @ViewBag.empObj.EmpSalary</p>
<p><b>Employee is Permananet</b> : @ViewBag.empObj.EmpisPermanent</p>
