<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ASP Mart", "AllProducts", "Products", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> @Html.ActionLink("All Products", "AllProducts", "Products")</li>
                    <li> @Html.ActionLink("Search by Category", "SearchByCategory", "Products")</li>
                    <li> @Html.ActionLink("Add Product", "AddProduct", "Products")</li>
                    <li> @Html.ActionLink("Delete Product", "DeleteProduct", "Products")</li>
                    <li> @Html.ActionLink("Update Product", "UpdateProduct", "Products")</li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div>
        @RenderBody()
    </div>
</body>
</html>
