@model IEnumerable<ProductsApp_ADODemo.Models.Products>
@{
    ViewBag.Title = "Search By Category";
    Layout = "~/Views/Shared/_ProductInfoLayout.cshtml";
}

<h2>Search By Category</h2>
<br />
<form method="post">
    <b>Enter Category</b>
    <br />
    <br />
    <input type="radio" name="p_category" id="Home Appliance" value="Home Appliance" />
    <label for="Home Appliance">Home Appliance</label>
    <input type="radio" name="p_category" id="Stationary" value="Stationary" />
    <label for="Stationary">Stationary</label>
    <input type="radio" name="p_category" id="Utensils" value="Utensils" />
    <label for="Utensils">Utensils</label>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-warning">Reset</button>
</form>
<br />
@if (Model != null)
{
    <table>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Product Quantity</th>
            <th>Product Price</th>
            <th>Product Discount</th>
        </tr>

        @foreach (var prod in Model)
        {

        <tr>
            <td>@prod.PID</td>
            <td>@prod.PName</td>
            <td>@prod.PCategory</td>
            <td>@prod.PQty</td>
            <td>@prod.PPrice</td>
            <td>@prod.PDiscount</td>
        </tr>


        }
        

    </table>
}
