@model BankingMVC_StoredProceduresDemo.Models.Accounts
@{
    ViewBag.Title = "AccountByNo";
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
}

<h2><b>Search Account By Number</b></h2>
<br />
<form method="post">
    <input type="number" placeholder="Enter Account Number" name="p_accno" class="form-control" />
    <br />
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-warning">Reset</button>
</form>

<br />

@if (Model != null)
{
    <p><b>Account Number : </b>@Model.AccNo</p>
    <p><b>Account Name : </b>@Model.AccName</p>
    <p><b>Account Type : </b>@Model.AccType</p>
    <p><b>Account Balance : </b>@Model.AccBalance</p>
    <p><b>AccountIs Active : </b>@Model.AccIsActive</p>
}
