@model IEnumerable<BankingMVC_StoredProceduresDemo.Models.Accounts>
@{
    ViewBag.Title = "AccountByType";
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
}

<h2><b>Search Account By Type</b></h2>
<br />
<form method="post">
    <h4><b>Select Account Type</b></h4>
    <br />

    <input type="radio" name="p_accType" id="savings" value="Savings" />
    <label for="savings">Savings</label>
    <br />
    <input type="radio" name="p_accType" id="current" value="Current" />
    <label for="current">Current</label>
    <br />
    <input type="radio" name="p_accType" id="pf" value="PF" />
    <label for="PF">PF</label>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-warning">Reset</button>
</form>
<br />
@if (Model != null)
{
    <table class="table-condensed">
        <tr>
            <th>Acc. Number </th>
            <th>Acc. Name</th>
            <th>Acc. Type</th>
            <th>Acc. Balance</th>
            <th>Acc. Is Active</th>
        </tr>
        @foreach (var acc in Model)
        {
            <tr>
                <td>@acc.AccNo</td>
                <td>@acc.AccName</td>
                <td>@acc.AccType</td>
                <td>@acc.AccBalance</td>
                <td>@acc.AccIsActive</td>
            </tr>
        }
    </table>
}
