@model IEnumerable<BankingMVC_StoredProceduresDemo.Models.Accounts>
@{
    ViewBag.Title = "AllAccounts";
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
}

<h2><b>All Accounts</b></h2>
<br />
@if(Model!=null)
{
    <table class="table-condensed">
        <tr>
            <th>Acc. Number </th>
            <th>Acc. Name</th>
            <th>Acc. Type</th>
            <th>Acc. Balance</th>
            <th>Acc. Is Active</th>
        </tr>
        @foreach(var acc in Model)
        {
        <tr>
            <td>@acc.AccNo</td>
            <td>@acc.AccName</td>
            <td>@acc.AccType</td>
            <td>@acc.AccBalance</td>
            <td>@acc.AccIsActive</td>
        </tr>
        }
    </table>
}

