<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-color:#69c4c4">
    <div>
        <h1 style="text-align:center">HDFC BANK</h1>
        <img src="~/Images/hdfclogo.png" width="100" style="float:right" />
    </div>

    <table border="1">
        <tr>
            <td>@Html.ActionLink("Home", "Home", "Banking")</td>
            <td>@Html.ActionLink("About", "About", "Banking")</td>
            <td>@Html.ActionLink("Contact", "Contact", "Home")</td>
        <tr>
    </table>

    <div>
        @RenderBody()
    </div>


    <h3 style="text-align:center">Copyright at HDFC Bank Ltd.2020-2025 - All Rights Reserved</h3>
</body>
</html>
