@model EmployeeManagement_EF.Models.employee_info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.e_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.e_Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.e_Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dept_info.d_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dept_info.d_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.e_No }) |
    @Html.ActionLink("Back to List", "Index")
</p>
