@model IEnumerable<EmployeeManagement_EF.Models.employee_info>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.e_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.e_Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.e_Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dept_info.d_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.e_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.e_Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.e_Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dept_info.d_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.e_No }) |
            @Html.ActionLink("Details", "Details", new { id=item.e_No }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.e_No })
        </td>
    </tr>
}

</table>
