<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
</head>
<body style="background-color:#d9cfcf">
    <div style="background-color:#a4a2a2">
        <h1 style=" text-align:center"> SOTI Employees</h1>
        <br />
        <ul>
            <li>@Html.ActionLink("All Employees", "AllEmployees", "Employee")</li>
            <li>@Html.ActionLink("Search Employee", "SearchbyID", "Employee")</li>
            <li>@Html.ActionLink("Add Employee", "AddEmployee", "Employee")</li>
            <li>@Html.ActionLink("Remove Employee", "DeleteEmployee", "Employee")</li>
            <li>@Html.ActionLink("Update Employee Details", "UpdateEmployee", "Employee")</li>
            <li>@Html.ActionLink("Update Employee Status", "UpdateEmployeeStatus", "Employee")</li>

        </ul>
    </div>
    <div >
        @RenderBody()
    </div>
</body>
</html>
