
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Shoppingapp.cshtml";
}

<h2>Products</h2>
<ul>
    <li>@Html.ActionLink("Male Products", "MaleProducts", "Products")</li>
    <li>@Html.ActionLink("Female Products", "FemaleProducts", "Products")</li>
    <li>@Html.ActionLink("Festive Products", "FestiveProducts", "Products")</li>
    <li>@Html.ActionLink("Kids Products", "KidsProducts", "Products")</li>
    <li>@Html.ActionLink("Offers", "Offers", "Products")</li>
</ul>

