@model EmployeeManagement_EF.Models.dept_info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.d_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.d_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deptname_info.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deptname_info.Department)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.d_No }) |
    @Html.ActionLink("Back to List", "Index")
</p>
