@model BankingApplicationMVC_ADO_Demo.Models.Accounts
@{
    ViewBag.Title = "Search Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Account </h2>
<form method="post">
    <input type="text" name="p_accNo" placeholder="Enter Account Number" class="form-control" />
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-warning">Reset</button>
</form>
<br />
@if (Model != null)
{
    <p>Account Number : @Model.AccNo</p>
    <p>Account Name : @Model.AccName</p>
    <p>Account Type : @Model.AccType</p>
    <p>Account Balance : @Model.AccBalance</p>
    <p>Account is Avtive  : @Model.AccIsActive</p>
}
