@model IEnumerable<BankingApplicationMVC_ADO_Demo.Models.Accounts>
@{
    ViewBag.Title = "AllAccounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Accounts</h2>
<br />
<table>
    <tr>
        <th>Acc. Number</th>
        <th>Acc. Name</th>
        <th>Acc. Type</th>
        <th>Acc. Balance</th>
        <th>Acc. Is Active</th>
    </tr>

    @foreach (var acc in Model)
    {
       
        <tr>
            <td>@acc.AccNo</td>
            <td>@acc.AccName</td>
            <td>@acc.AccType</td>
            <td>@acc.AccBalance</td>
            <td>@acc.AccIsActive</td>
        </tr>
         

      }

</table>


