
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>News Page</h2>
<h3>News ID : @ViewBag.newsId</h3>
<h3>News Headline : @ViewBag.headline</h3>
<p>Total People : @ViewBag.totalPeople</p>
<p>News : @ViewBag.news</p>
<p>Status : @ViewBag.isCompleted</p>

