@model IEnumerable<Model_Demo.Models.Employee>
@{
    ViewBag.Title = "AllEmployees";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Employee List</h2>
<div>
    <table class="table-borders">
        <th>Number   </th>
        <th>Name   </th>
        <th>Designation   </th>
        <th>Salary   </th>
        <th>Permanent   </th>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmpNo</td>
                <td>@item.EmpName</td>
                <td>@item.EmpDesignation</td>
                <td>@item.EmpSalary</td>
                <td>@item.EmpisPermanent</td>
            </tr>
        }
    </table>
</div>
<br />
<li>@Html.ActionLink("View Employees by Status", "GetEmployeesbyStatus", "Employee")</li>
<li>@Html.ActionLink("View Employees by Designation", "GetEmployeesbyDesignation", "Employee")</li>
