@model IEnumerable<Model_Demo.Models.Employee>
@{
    ViewBag.Title = "GetEmployeesbyDesignation";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>View Employees by Designation</h2>

<form method="post">
    <select name="designation">
        <option value="Sales">Sales</option>
        <option value="HR">HR</option>
        <option value="Developer">Developer</option>
    </select>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model != null)
{
    <div>
        <table class="table-borders">
            <th>Number   </th>
            <th>Name   </th>
            <th>Designation   </th>
            <th>Salary   </th>
            <th>Permanent   </th>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.EmpNo</td>
                    <td>@item.EmpName</td>
                    <td>@item.EmpDesignation</td>
                    <td>@item.EmpSalary</td>
                    <td>@item.EmpisPermanent</td>
                </tr>
            }
        </table>
    </div>
}

