@model Model_Demo.Models.Employee
@{
    ViewBag.Title = "SearchbyID";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Search Employee Details</h2>

@Html.Partial("~\\Views\\PartialPages\\_getemployeenumber.cshtml")

@if(Model!=null)
{

    <p>Employee Number : @Model.EmpNo</p>
    <p>Employee Name : @Model.EmpName</p>
    <p>Employee Designation : @Model.EmpDesignation</p>
    <p>Employee Salary : @Model.EmpSalary</p>
    <p>Employee Permanent : @Model.EmpisPermanent</p>
}